.admin__header {
    display: flex;
    flex-direction: column;
    max-height: 120px;
    position: relative;
}

.admin__header__main{
    height: 100px;
    background-color: #fff;
    position: relative;
    padding: 0px 20px;
}
.patron__header {
    height: 20px;
    width: 100%;
    position: relative;
    background-image: url("./../assets/img/Patron__header.png");
    background-size: 35%;
    animation-name: deslizando;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
}
@keyframes deslizando{
    0%{
        background-position: 0px 0px;
    }
    100% {
        background-position: 2000px 0px;
    }
}

.admin__header__main,
.header__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

